ChuXinShu/ChuXinShu.vcxproj.user
ChuXinShu/.vs/
ChuXinShu/bin/ChuXinShu.lib
ChuXinShu/obj/
ChuXinShu/bin/ChuXinShu_debug.ilk
ChuXinShu/bin/ChuXinShu_debug.exp
ChuXinShu/bin/ChuXinShu_debug.pdb
ChuXinShu/bin/ChuXinShu_debug.lib
ChuXinShu/bin/ChuXinShu_debug.exe
ChuXinShu/bin/ChuXinShu.exe
ChuXinShu/ChuXinShu.VC.db
ChuXinShu/bin/data/videos/loop/0.mp4
ChuXinShu/bin/data/videos/switch/0.mp4
ChuXinShu/bin/data/videos/show/0.mp4
ChuXinShu/bin/data/itemVideo/0.mp4
ChuXinShu/bin/data/log.log
ChuXinShu/bin/data/videos/switch/switch5.mov
ChuXinShu/bin/data/videos/switch/switch4.mov
ChuXinShu/bin/data/videos/switch/switch3.mov
ChuXinShu/bin/data/videos/switch/switch2.mov
ChuXinShu/bin/data/videos/switch/switch1.mov
